langchain
langchain-core

langchain-openai
openai

langchain-google-genai
google-generativeai
langchain_groq

langchain-huggingface
transformers
huggingface-hub

python-dotenv

numpy 
scikit-learn 
pydantic

langgraph

uvicorn 
fastapi
langchain-openrouter